/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Απρ 2021, 5:29:56 μ.μ.
    Author     : Georgios Tsalikis
*/

    
    /***         ***   Styles for header   ***          ***/
/*
header {
     display: inline-block;
     flex-flow: column;
     height: 130px;
}
*/
input {
    padding: 15px;
}
#top-stripe {
    width: 100vw;
    height: 15px;
    position: fixed;
    z-index: 2;
    background-color: #ffd04d;
    right: 0px;
    top: 0;
}  
#top-container {
    height: 70px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 1182px;
    top: 40px;
    position: relative;
}
#logo {
	cursor: pointer;
	position: relative;
	margin-left: 20px;
	flex: 2 2 50px;
}

ul.no-bullets {
    list-style-type: none;
}
#search {

	display: inline-flex;
	position: relative;
	margin: 0 20px;
	/* padding-top: 20px; */
	/*! top: 50px; */
	height: 60px;
	/*! width: 450px; */
	/*! float: right; */	font-size: 16pt;
	/*! flex: 1 1; */
}
#searchBar {
	position: relative;
	display: inline-flex;
	/*! width: 200px; */
	/*! flex: 0 0 60px; */
	/*! border-radius: 3px 0 0 3px; */
	/*! margin: 0 auto; */
	/*! left: 100px; */
	/*! top: 15px; */
}
input#searchField {
    position: relative;
 left: 0;   
 font-size: 16px;
 margin: 0;
}
   
#searchBar #searchBox input[type="submit"] {
	display: flex;
	flex: 0 0 40px;
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 24px;
	padding-left: 24px;
	background-color: #ffd04d;
	height: 60px;

	color: #ffd04d;
	cursor: pointer;
	background-image: url("https://peoplecertproject.s3.eu-central-1.amazonaws.com/UI/magnifier.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 19px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffd04d;
	border-radius: 0 3px 3px 0;
        margin: 0 0 0 -2px;
	font-size: 0;
        left: 0;
    }

#account-checkbox {
	/* left: 3%; */
	/* bottom: 30px; */
	position: relative;
	height: 40px;
	color: black;
	border: none;
	border-bottom: 3px solid #2794ad;
	font-size: 14pt;
	/* height: 30px; */
	text-decoration: none;
	background-color: transparent;
        padding: 0;
}

.myAccount {
	display: flex;
	position: relative;
	height: min-content;
	flex-flow: column;
}
.myAccount p {
    font-family: "Georgia", serif;
    font-style: oblique;
    font-size: 12pt;
    border: none;
    bottom: 2px;
    /*! position: absolute; */
    width: max-content;
    margin: 0;
}
.myAccount-modal {
        position: relative;
        display: inline-block;
        left: 350px;
        top: 20px;
    }
    

#my-account-menu  li {
text-align: center;

}

ul#my-account-menu  {
 list-style-type: none; 
 color: red; 
 font-size:0.7em;
 padding: 10px;
}

ul.no-bullets {
    list-style-type: none;
}

#my-account-menu a {

    
    
    color: black;
    text-decoration: none;
    font-size: 14pt;
}

#my-account-menu li > form {
    padding: 0;
}
#login-modal {
	position: absolute;
	font-family: Helvetica, Arial, sans-serif;
	z-index: 10;
	height: auto;
	width: 150px;
	background-color: white;
	color: #2794ad;
	display: none;
	border-radius: 5px;
	border: 1px solid #cccccc;
	right: 107px;
	top: 75px;
	/* width: min-content; */
	font-size: 14pt;
	text-align: start;
	box-shadow: 3px 3px 12px black;
}
   
#command {
 display: flex;
 flex-flow: column;
 background: none;
 /*! color: beige; */
}

#cart {
	position: relative;
	/* display: flex; */
	color: black;
	cursor: pointer;
	/* margin-left: 40px; */
	height: 80px;
	width: 80px;
	/* flex-basis: 100px; */
	left: 30px;
	bottom: 10px;
}

#empty-cart {
	background-image: url("https://peoplecertproject.s3.eu-central-1.amazonaws.com/UI/empty-cart.png");
	background-size: 45px 48px;
	background-repeat: no-repeat;
	width: 80px;
	height: 50px;
	display: block;
	bottom: 33px;
	left: 6px;
}

#cart-wbubble {
	background-image: url("https://peoplecertproject.s3.eu-central-1.amazonaws.com/UI/full-cart.png");
	background-size: 73px 50px;
	background-repeat: no-repeat;
	width: 80px;
	height: 50px;
	display: block;
	top: 15px;
	left: 5px;
}


#cart-amount {
	position: absolute;
	left: 62.2px;
	bottom: 44.5px;
	z-index: 3;
	font-size: 0.9em;
}

#cart a {
	position: relative;
	text-decoration: none;
	color: black;
	display: block;
}   
    
.clickable {
 height: 80px;
 width: 80px;
 position: relative;
}


hr.thin-line-separator {
    height: 1px; 
    border-width: 0; 
    /*! color: #ff8181; */ 
    background-color: #c3c3c3;
     /* top: 50px; */
 position: relative;
 margin: 50px 0 0 0;
 width: 1182px;

} 

 hr.thick-line-separator {
    height: 1px; 
    border-width: 0; 
    color:  #2794ad; 
    background-color: #2794ad; 
    /* top: 50px;*/
 position: relative;
 width: 1182px;   
 }